{% extends "base.html" %}
{% block contenido %}
<h2>Ofertas disponibles</h2>

{% if ofertas %}
  <ul>
  {% for o in ofertas %}
    <li>
      <strong>{{ o.titulo }}</strong><br>
      <em>Empresa:</em> {{ o.empresa }}<br>
      {% if o.ubicacion %}
      <em>Ubicación:</em> {{ o.ubicacion }}<br>
      {% endif %}
      {% if o.modalidad %}
      <em>Modalidad:</em> {{ o.modalidad }}<br>
      {% endif %}
      {% if o.salario %}
      <em>Salario:</em> {{ o.salario }}<br>
      {% endif %}
      <p>{{ o.descripcion }}</p>
      {% if o.requisitos %}
      <p><strong>Requisitos:</strong> {{ o.requisitos }}</p>
      {% endif %}
      <small>Publicado: {{ o.fecha_publicacion }}</small><br>
      
      {% if session['rol'] in ['estudiante', 'egresado'] %}
        <a href="{{ url_for('postular', id_ofertas=o['_id']) }}">📩 Postularme</a>
      {% endif %}
      <hr>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No hay ofertas disponibles.</p>
{% endif %}
{% endblock %}